@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root {
    --title-f-size: 1.125rem;
    --body-f-size: .875rem;
    --small-f-size: .75rem;
    --tag-f-size: .625rem;
    --box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    --bg-clr: #FAFAF9;
    --title-clr: #20293A;
    --txt-clr: #6C727F;
    --d-clr: #883AE1;
    --d-bg-clr: #E6D6FC;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* there are a variables but i used its values instead the var names because there is something in my mind i wanna try*/
body {
    font-family: "Sora", sans-serif;
    background: #FAFAF9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 368px;
    padding: 16px 16px 20px;
    background: #ffffff;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 16px;
    display: flex;
    flex-flow: column;
    gap: 16px;

    img {
        width: 100%;
        border-radius: 14px;
    }

    .design {
        color: #883AE1;
        background: #E6D6FC;
        width: fit-content;
        padding: 6px 16px ;
        border-radius: 15px;
        font-size: .625rem;
        font-weight: 600;
    }

    h2 {
        font-size: 1.125rem;
        color: #20293A;
    }

    & .info p {
        color: #6C727F;
        font-size: .875rem;
        margin: 6px 0 4px;
        line-height: 1.4rem;
    }
    
    hr {
        width: calc(100% + 32px);
        transform: translateX(-16px);
        opacity: .4;
    }

    span {
        padding-top:8px;
        color: #6C727F;
        font-size: .75rem;
    }
}
